moviepy
imageio
Cython
numpy
mido
git+https://github.com/neosatrapahereje/rach3datautils@main#egg=rach3datautils
git+https://github.com/CPJKU/madmom.git#egg=madmom
tqdm
partitura
transformers[torch]
matplotlib
torchvision
mir_eval
python-dotenv
torch
pillow
nvidia-dali-cuda120
wandb
accelerate
moviepy
imageio
ultralytics
dill
av
ftfy
ffmpeg-python
scipy
ipympl
