moviepy
imageio
Cython==3.0.10
numpy==1.26.4
mido==1.3.2
git+https://github.com/neosatrapahereje/rach3datautils@main#egg=rach3datautils
git+https://github.com/CPJKU/madmom.git#egg=madmom
tqdm==4.66.2
partitura==1.4.1
transformers[torch]==4.39.3
matplotlib==3.8.3
torchvision==0.17.2
mir_eval==0.7
python-dotenv==1.0.1
torch==2.2.2
pillow==10.3.0
nvidia-dali-cuda120==1.36.0
wandb==0.16.5
accelerate==0.28.0
moviepy
imageio==2.34.0
ultralytics==8.1.42
dill
av
ftfy
ffmpeg-python==0.2.0
scipy~=1.11.0
